<div>
    <!-- Pestañas -->
    <div class="flex border-b-2 border-black mb-0">
      <button
        (click)="setSecondaryDisabledTab('preview')"
        [ngClass]="secondaryDisabledActiveTab === 'preview' ? themeService.getPrimaryBgClass() + ' text-white border-b-0 -mb-px' : 'bg-white text-black'"
        class="w-1/2 px-4 py-2 border-neo-border border-black font-medium justify-center flex"
        >
        Preview
      </button>
      <button
        (click)="setSecondaryDisabledTab('code')"
        [ngClass]="secondaryDisabledActiveTab === 'code' ? themeService.getPrimaryBgClass() + ' text-white border-b-0 -mb-px' : 'bg-white text-black'"
        class="w-1/2 px-4 py-2 border-neo-border border-l-0 border-black font-medium justify-center flex"
        >
        Code
      </button>
    </div>
    <!-- Contenido -->
    <div class="h-40 md:h-48 overflow-y-auto border-neo-border border-black border-t-0">
      @if (secondaryDisabledActiveTab === 'preview') {
        <app-component-preview>
          <div class="relative inline-block">
            <div class="absolute inset-0" [ngClass]="themeService.getBorderRadiusClass()" [ngStyle]="{'box-shadow': themeService.getShadowClassForElements()}"></div>
            <button [ngClass]="themeService.getBorderRadiusClass()"
              disabled
              class="relative flex px-4 py-2 bg-white border-neo-border border-black font-medium opacity-50 cursor-not-allowed">
              Deshabilitado
            </button>
          </div>
        </app-component-preview>
      }
      @if (secondaryDisabledActiveTab === 'code') {
        <app-code-snippet-preview [code]="secondaryDisabledExampleCode"></app-code-snippet-preview>
      }
    </div>
  </div>