<div class="space-y-12 p-6">

  <!-- 1. Normal Input -->
  <app-basic></app-basic>

  <!-- 3. Correct Input -->
  <app-correct></app-correct>

  <!-- 4. Incorrect Input -->
  <app-incorrect></app-incorrect>

  <!-- 5. Full Width Input -->
  <section class="space-y-6">
    <h3 class="text-xl font-semibold border-b border-black pb-2">Input Ancho Completo</h3>
    <div>
      <!-- Tabs -->
      <div class="flex border-b-2 border-black mb-0">
        <button
          (click)="setFullWidthInputTab('preview')"
          [ngClass]="fullWidthInputActiveTab === 'preview' ? themeService.getPrimaryBgClass() + ' text-white border-b-0 -mb-[2px]' : 'bg-white text-black'"
          class="w-1/2 px-4 py-2 border-neo-border border-black font-medium justify-center flex">
          Preview
        </button>
        <button
          (click)="setFullWidthInputTab('code')"
          [ngClass]="fullWidthInputActiveTab === 'code' ? themeService.getPrimaryBgClass() + ' text-white border-b-0 -mb-[2px]' : 'bg-white text-black'"
          class="w-1/2 px-4 py-2 border-neo-border border-l-0 border-black font-medium justify-center flex">
          Code
        </button>
      </div>

      <!-- Tab Content -->
      <div class="overflow-y-auto border-neo-border border-black border-t-0">
        <!-- Preview -->
        @if (fullWidthInputActiveTab === 'preview') {
          <app-component-preview>
            <div class="p-4 w-full"> <!-- Container needs w-full -->
              <div class="relative w-full"> 
                <!-- Shadow Layer -->
                <div 
                  class="absolute inset-0" 
                  [ngClass]="themeService.getBorderRadiusClass()" 
                  [ngStyle]="{'box-shadow': themeService.getShadowClassForElements()}"></div>
                <!-- Input Layer -->
                <input 
                  type="text" 
                  [(ngModel)]="fullWidthInputValue" 
                  placeholder="Ancho completo..."
                  class="relative w-full px-3 py-2 border-neo-border border-black bg-white text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-transform"
                  [ngClass]="[themeService.getBorderRadiusClass(), themeService.getHoverTranslateXClass(), themeService.getHoverTranslateYClass()]"
                >
              </div>
            </div>
          </app-component-preview>
        }
        <!-- Code -->
        @if (fullWidthInputActiveTab === 'code') {
          <app-code-snippet-preview [code]="fullWidthInputExampleCode"></app-code-snippet-preview>
        }
      </div>
    </div>
  </section>

</div>
