<div class="space-y-12">
  <!-- Non-Striped Table Example -->
  <section class="space-y-6">
    <h3 class="text-xl font-semibold border-b border-black pb-2">Tabla Básica (Non-Striped)</h3>
    <div class="grid grid-cols-1 gap-8">
      <div> 
        <!-- Tabs -->
        <div class="flex border-b-2 border-black mb-0">
          <button 
            (click)="setNonStripedActiveTab('preview')" 
            [ngClass]="nonStripedTableActiveTab === 'preview' ? themeService.getPrimaryBgClass() + ' text-white border-b-0 -mb-[2px]' : 'bg-white text-black'" 
            class="w-1/2 px-4 py-2 border-neo-border border-black font-medium justify-center flex"
          >
            Preview
          </button>
          <button 
            (click)="setNonStripedActiveTab('code')" 
            [ngClass]="nonStripedTableActiveTab === 'code' ? themeService.getPrimaryBgClass() + ' text-white border-b-0 -mb-[2px]' : 'bg-white text-black'" 
            class="w-1/2 px-4 py-2 border-neo-border border-l-0 border-black font-medium justify-center flex"
          >
            Code
          </button>
        </div>

        <!-- Tab Content -->
        <div class="overflow-y-auto border-neo-border border-black border-t-0">
          @if (nonStripedTableActiveTab === 'preview') {
            <app-component-preview>
              <div class="p-4">
                <div 
                  class="overflow-x-auto border-neo-border border-black"
                  [ngClass]="themeService.getBorderRadiusClass()"
                  [ngStyle]="{'box-shadow': themeService.getShadowClassForElements()}">
                  <table class="min-w-full bg-white">
                    <thead [ngClass]="themeService.getPrimaryBgClass()" class="text-white font-medium">
                      <tr>
                        <th class="py-3 px-4 text-left">ID</th>
                        <th class="py-3 px-4 text-left">Nombre</th>
                        <th class="py-3 px-4 text-left">Puesto</th>
                        <th class="py-3 px-4 text-left">Color Favorito</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (row of tableData; track row.id) {
                        <!-- No alternating background class here -->
                        <tr class="border-b border-black">
                          <td class="py-3 px-4">{{ row.id }}</td>
                          <td class="py-3 px-4">{{ row.name }}</td>
                          <td class="py-3 px-4">{{ row.job }}</td>
                          <td class="py-3 px-4">{{ row.color }}</td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </app-component-preview>
          }
          @if (nonStripedTableActiveTab === 'code') {
            <app-code-snippet-preview [code]="nonStripedTableExampleCode"></app-code-snippet-preview>
          }
        </div>
      </div>
    </div>
  </section>

  <!-- Striped Table Example -->
  <section class="space-y-6">
    <h3 class="text-xl font-semibold border-b border-black pb-2">Tabla con Filas Alternas (Striped)</h3>
    <div class="grid grid-cols-1 gap-8">
      <div> 
        <!-- Tabs -->
        <div class="flex border-b-2 border-black mb-0">
          <button 
            (click)="setStripedActiveTab('preview')" 
            [ngClass]="stripedTableActiveTab === 'preview' ? themeService.getPrimaryBgClass() + ' text-white border-b-0 -mb-[2px]' : 'bg-white text-black'" 
            class="w-1/2 px-4 py-2 border-neo-border border-black font-medium justify-center flex"
          >
            Preview
          </button>
          <button 
            (click)="setStripedActiveTab('code')" 
            [ngClass]="stripedTableActiveTab === 'code' ? themeService.getPrimaryBgClass() + ' text-white border-b-0 -mb-[2px]' : 'bg-white text-black'" 
            class="w-1/2 px-4 py-2 border-neo-border border-l-0 border-black font-medium justify-center flex"
          >
            Code
          </button>
        </div>

        <!-- Tab Content -->
        <div class="overflow-y-auto border-neo-border border-black border-t-0">
          @if (stripedTableActiveTab === 'preview') {
            <app-component-preview>
              <div class="p-4">
                <div 
                  class="overflow-x-auto border-neo-border border-black"
                  [ngClass]="themeService.getBorderRadiusClass()"
                  [ngStyle]="{'box-shadow': themeService.getShadowClassForElements()}">
                  <table class="min-w-full bg-white">
                    <thead [ngClass]="themeService.getPrimaryBgClass()" class="text-white font-medium">
                      <tr>
                        <th class="py-3 px-4 text-left">ID</th>
                        <th class="py-3 px-4 text-left">Nombre</th>
                        <th class="py-3 px-4 text-left">Puesto</th>
                        <th class="py-3 px-4 text-left">Color Favorito</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (row of tableData; track row.id; let isEven = $even) {
                         <!-- Apply alternating background -->
                        <tr class="border-b border-black" [ngClass]="isEven ? themeService.getLightBgClass() : ''">
                          <td class="py-3 px-4">{{ row.id }}</td>
                          <td class="py-3 px-4">{{ row.name }}</td>
                          <td class="py-3 px-4">{{ row.job }}</td>
                          <td class="py-3 px-4">{{ row.color }}</td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </app-component-preview>
          }
          @if (stripedTableActiveTab === 'code') {
            <app-code-snippet-preview [code]="stripedTableExampleCode"></app-code-snippet-preview>
          }
        </div>
      </div>
    </div>
  </section>
  
  <!-- Non-Striped Table with Hover Example -->
  <section class="space-y-6">
    <h3 class="text-xl font-semibold border-b border-black pb-2">Tabla Básica con Hover</h3>
    <div class="grid grid-cols-1 gap-8">
      <div> 
        <!-- Tabs -->
        <div class="flex border-b-2 border-black mb-0">
          <button 
            (click)="setNonStripedHoverActiveTab('preview')" 
            [ngClass]="nonStripedHoverTableActiveTab === 'preview' ? themeService.getPrimaryBgClass() + ' text-white border-b-0 -mb-[2px]' : 'bg-white text-black'" 
            class="w-1/2 px-4 py-2 border-neo-border border-black font-medium justify-center flex"
          >
            Preview
          </button>
          <button 
            (click)="setNonStripedHoverActiveTab('code')" 
            [ngClass]="nonStripedHoverTableActiveTab === 'code' ? themeService.getPrimaryBgClass() + ' text-white border-b-0 -mb-[2px]' : 'bg-white text-black'" 
            class="w-1/2 px-4 py-2 border-neo-border border-l-0 border-black font-medium justify-center flex"
          >
            Code
          </button>
        </div>

        <!-- Tab Content -->
        <div class="overflow-y-auto border-neo-border border-black border-t-0">
          @if (nonStripedHoverTableActiveTab === 'preview') {
            <app-component-preview>
              <div class="p-4">
                <div 
                  class="overflow-x-auto border-neo-border border-black"
                  [ngClass]="themeService.getBorderRadiusClass()"
                  [ngStyle]="{'box-shadow': themeService.getShadowClassForElements()}">
                  <table class="min-w-full bg-white">
                    <thead [ngClass]="themeService.getPrimaryBgClass()" class="text-white font-medium">
                      <tr>
                        <th class="py-3 px-4 text-left">ID</th>
                        <th class="py-3 px-4 text-left">Nombre</th>
                        <th class="py-3 px-4 text-left">Puesto</th>
                        <th class="py-3 px-4 text-left">Color Favorito</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (row of tableData; track row.id) {
                        <tr class="border-b border-black hover:bg-gray-100">
                          <td class="py-3 px-4">{{ row.id }}</td>
                          <td class="py-3 px-4">{{ row.name }}</td>
                          <td class="py-3 px-4">{{ row.job }}</td>
                          <td class="py-3 px-4">{{ row.color }}</td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </app-component-preview>
          }
          @if (nonStripedHoverTableActiveTab === 'code') {
            <app-code-snippet-preview [code]="nonStripedHoverTableExampleCode"></app-code-snippet-preview>
          }
        </div>
      </div>
    </div>
  </section>
  
   <!-- Striped Table with Hover Example -->
  <section class="space-y-6">
    <h3 class="text-xl font-semibold border-b border-black pb-2">Tabla Alterna (Striped) con Hover</h3>
    <div class="grid grid-cols-1 gap-8">
       <div> 
        <!-- Tabs -->
        <div class="flex border-b-2 border-black mb-0">
          <button 
            (click)="setStripedHoverActiveTab('preview')" 
            [ngClass]="stripedHoverTableActiveTab === 'preview' ? themeService.getPrimaryBgClass() + ' text-white border-b-0 -mb-[2px]' : 'bg-white text-black'" 
            class="w-1/2 px-4 py-2 border-neo-border border-black font-medium justify-center flex"
          >
            Preview
          </button>
          <button 
            (click)="setStripedHoverActiveTab('code')" 
            [ngClass]="stripedHoverTableActiveTab === 'code' ? themeService.getPrimaryBgClass() + ' text-white border-b-0 -mb-[2px]' : 'bg-white text-black'" 
            class="w-1/2 px-4 py-2 border-neo-border border-l-0 border-black font-medium justify-center flex"
          >
            Code
          </button>
        </div>

        <!-- Tab Content -->
        <div class="overflow-y-auto border-neo-border border-black border-t-0">
          @if (stripedHoverTableActiveTab === 'preview') {
            <app-component-preview>
              <div class="p-4">
                <div 
                  class="overflow-x-auto border-neo-border border-black"
                  [ngClass]="themeService.getBorderRadiusClass()"
                  [ngStyle]="{'box-shadow': themeService.getShadowClassForElements()}">
                  <table class="min-w-full bg-white">
                    <thead [ngClass]="themeService.getPrimaryBgClass()" class="text-white font-medium">
                       <tr>
                        <th class="py-3 px-4 text-left">ID</th>
                        <th class="py-3 px-4 text-left">Nombre</th>
                        <th class="py-3 px-4 text-left">Puesto</th>
                        <th class="py-3 px-4 text-left">Color Favorito</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (row of tableData; track row.id; let isEven = $even) {
                        <tr class="border-b border-black hover:bg-gray-100" [ngClass]="isEven ? themeService.getLightBgClass() : ''">
                          <td class="py-3 px-4">{{ row.id }}</td>
                          <td class="py-3 px-4">{{ row.name }}</td>
                          <td class="py-3 px-4">{{ row.job }}</td>
                          <td class="py-3 px-4">{{ row.color }}</td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </app-component-preview>
          }
          @if (stripedHoverTableActiveTab === 'code') {
            <app-code-snippet-preview [code]="stripedHoverTableExampleCode"></app-code-snippet-preview>
          }
        </div>
      </div>
    </div>
  </section>
  
   <!-- Striped Table with Selection Example -->
  <section class="space-y-6">
    <h3 class="text-xl font-semibold border-b border-black pb-2">Tabla Alterna (Striped) con Selección</h3>
    <div class="grid grid-cols-1 gap-8">
       <div> 
        <!-- Tabs -->
        <div class="flex border-b-2 border-black mb-0">
          <button 
            (click)="setStripedSelectableActiveTab('preview')" 
            [ngClass]="stripedSelectableTableActiveTab === 'preview' ? themeService.getPrimaryBgClass() + ' text-white border-b-0 -mb-[2px]' : 'bg-white text-black'" 
            class="w-1/2 px-4 py-2 border-neo-border border-black font-medium justify-center flex"
          >
            Preview
          </button>
          <button 
            (click)="setStripedSelectableActiveTab('code')" 
            [ngClass]="stripedSelectableTableActiveTab === 'code' ? themeService.getPrimaryBgClass() + ' text-white border-b-0 -mb-[2px]' : 'bg-white text-black'" 
            class="w-1/2 px-4 py-2 border-neo-border border-l-0 border-black font-medium justify-center flex"
          >
            Code
          </button>
        </div>

        <!-- Tab Content -->
        <div class="overflow-y-auto border-neo-border border-black border-t-0">
          @if (stripedSelectableTableActiveTab === 'preview') {
            <app-component-preview>
              <div class="p-4">
                <div 
                  class="overflow-x-auto border-neo-border border-black"
                  [ngClass]="themeService.getBorderRadiusClass()"
                  [ngStyle]="{'box-shadow': themeService.getShadowClassForElements()}">
                  <table class="min-w-full bg-white">
                    <thead [ngClass]="themeService.getPrimaryBgClass()" class="text-white font-medium">
                       <tr>
                        <th class="py-3 px-4 text-left w-12">
                          <input 
                            type="checkbox" 
                            (change)="toggleSelectAll()"
                            [checked]="areAllSelected()"
                            [indeterminate]="isAnySelected()"
                            class="form-checkbox h-5 w-5 text-blue-600 border-black focus:ring-blue-500"
                          >
                        </th>
                        <th class="py-3 px-4 text-left">ID</th>
                        <th class="py-3 px-4 text-left">Nombre</th>
                        <th class="py-3 px-4 text-left">Puesto</th>
                        <th class="py-3 px-4 text-left">Color Favorito</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (row of tableData; track row.id; let isEven = $even) {
                        <tr class="border-b border-black" [ngClass]="isEven ? themeService.getLightBgClass() : ''"> 
                          <td class="py-3 px-4">
                            <input 
                              type="checkbox" 
                              (change)="toggleRowSelection(row.id)"
                              [checked]="isRowSelected(row.id)"
                              class="form-checkbox h-5 w-5 text-blue-600 border-black focus:ring-blue-500"
                            >
                          </td>
                          <td class="py-3 px-4">{{ row.id }}</td>
                          <td class="py-3 px-4">{{ row.name }}</td>
                          <td class="py-3 px-4">{{ row.job }}</td>
                          <td class="py-3 px-4">{{ row.color }}</td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </app-component-preview>
          }
          @if (stripedSelectableTableActiveTab === 'code') {
            <app-code-snippet-preview [code]="stripedSelectableTableExampleCode"></app-code-snippet-preview>
          }
        </div>
      </div>
    </div>
  </section>
</div>
