<div class="space-y-12">
  <!-- Non-Striped Table Example -->
  <app-basic></app-basic>

  <!-- Striped Table Example -->
  <app-striped></app-striped>
  
  <!-- Non-Striped Table with Hover Example -->
  <app-basic-hover></app-basic-hover>
  
   <!-- Striped Table with Hover Example -->
  <app-striped-hover></app-striped-hover>
  
   <!-- Striped Table with Selection Example -->
  <app-striped-selection></app-striped-selection>
  
  <!-- Toggle Columns Table Example -->
  <app-column-selection></app-column-selection>

  <!-- Filter Table Example -->
  <app-filtered></app-filtered>

  <!-- Sortable Table Example -->
  <app-reorderable></app-reorderable>

  <!-- OPTIONS Table Example -->
  <app-row-options></app-row-options>

  <!-- ALL FEATURES Table Example -->
  <app-full></app-full>
</div>
